<table>
    <tr>
      
        <th>nome meme</th>
        <th>immagine meme</th>
        <th>descrizione meme</th>
        <th>numero like</th>
    </tr>
    <tr>
        
        <td>{{nome1}}</td>
        <td><app-component-3></app-component-3></td>
        <td>{{descrizione1}}</td>
        <td>{{numero like1}}</td>
    </tr>
    <tr>
      
        <td>{{nome2}}</td>
        <td><app-component-4></app-component-4></td>
        <td>{{descrizione2}}</td>
        <td>{{numero like2}}</td>
    </tr>
</table>
